<vex-secondary-toolbar current="KYC Details">
  <vex-breadcrumbs [crumbs]="['KYC', 'KYC Details ']" fxFlex="auto"></vex-breadcrumbs>

  <button class="ml-2" color="primary" mat-icon-button type="button">
    <mat-icon [icIcon]="icMoreVert"></mat-icon>
  </button>
</vex-secondary-toolbar>


<div [@stagger]="true" class="p-gutter" vexContainer>

  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
  
  
     <div @fadeInUp class="card overflow-hidden" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">IDENTITY INFORMATION</h2>
		
      </div>

      <div class="px-6 py-4" fxLayout="column">
	     <p class="mt-0 mb-4 text-secondary">
         Upgrade your Pan card / Aadhaar Card Details
        </p>
       

           <mat-form-field>
          <mat-label>Pan Card</mat-label>
          <input matInput placeholder="Enter Pan Card"required>
        </mat-form-field>
		      <mat-form-field>
          <mat-label>Aadhaar Card</mat-label>
          <input matInput placeholder="Enter Aadhaar Card"required>
        </mat-form-field>

      </div>
    </div>
    <div @fadeInUp class="card" fxFlex="auto">
      <div class="px-6 py-4 border-b" fxLayout="row" fxLayoutAlign="start center">
        <h2 class="title m-0">BANK INFORMATION</h2>
      </div>

      <div class="px-6 py-4" fxLayout="column">
	     <p class="mt-0 mb-4 text-secondary">
        You can Change/update your banking details 
        </p>
 

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
		       <mat-form-field>
          <mat-label>Account Holder Name</mat-label>
          <input matInput placeholder="Enter Account Holder Name" required>
        </mat-form-field>
          <mat-form-field fxFlex="auto">
            <mat-label>Account Number</mat-label>
            <input matInput placeholder="Enter Account Number" required>
          </mat-form-field>
      
        </div>
		
		

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
		        <mat-form-field>
          <mat-label>Account Type</mat-label>
          <mat-select>
            <mat-option>Savings</mat-option>
            <mat-option>Current</mat-option>
           
          </mat-select>
        </mat-form-field>
          <mat-form-field fxFlex="auto">
            <mat-label>IFSC Code</mat-label>
            <input matInput placeholder="Enter IFSC Code"required>
          </mat-form-field>
      
        </div>

     
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.lt-sm="0">
		       <mat-form-field>
          <mat-label> Bank Name</mat-label>
          <input matInput placeholder="Enter Bank Name"required>
        </mat-form-field>
          <mat-form-field fxFlex="auto">
            <mat-label>Bank Branch</mat-label>
            <input matInput required placeholder="Enter Bank Branch">
          </mat-form-field>
      
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="8px">
          <button mat-button type="button">CANCEL</button>
          <button color="primary" mat-raised-button type="button">SUBMIT</button>
        </div>
      </div>
    </div>

 
  </div>









</div>
